.grid {
    height: calc(100vh - 530px);
    width: calc(100% - 20px);
    border: 1px solid grey;
    border-radius: 3px;
    margin: 10px;
}

.testitem {
    width: 100%;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 2px;
}

.grid div:hover {
    background-color: lightblue;
}
